@media screen and (max-width:1199px) {
.green-bg {
width:65%;
}
.banner-caption1, .green-bg {
display:none;
}
.mbl-image {
display:block;
text-align:center;
}
.mbl-image img {
width:100%;
display:inline-block;
}
.topSection {
height:auto !important;
}
.banner-caption2 {
position:relative;
}
}
@media screen and (max-width:991px) {
.banner-caption1 h2 br {
display:block;
}
}
@media screen and (max-width:767px) {
 .banner-caption1 h2 {
font-size:43px;
line-height:43px;
}
.imageTv h4 {
font-size:16px;
line-height:20px;
}
.green-bg {
width:50%;
padding-left:50px;
}
 .banner-caption1, .green-bg {
display:none;
}
}
@media screen and (max-width:685px) {
}
@media screen and (max-width:640px) {
/*.banner-caption1{ min-height:320px; position:relative; left:0; right:0; width:100%; top:50px;}*/
.banner-caption2 {
position:relative;
width:100%;
left:0;
right:0;
}
.banner-caption1 h2, .imageTv {
padding-left: 40px;
}
.footerItems ul {
padding:0;
}
.footercontent {
padding:40px 0px
}
.antivirus {
padding-top: 132px;
}
}
@media screen and (max-width:600px) {
.logoDiv, .toprightDiv {
padding: 13px 0;
}
.mbl-image {
/*margin: 0 15px;*/ margin: 0px;
}

.getStarted {
min-height:173px;
padding:25px 30px;
}
.banner-caption2 h3 {
font-size: 30px;
line-height: 49px;
}
.sectionSitebg {
overflow:hidden;
}
/*.banner-caption2{ position:absolute;}*/
.antivirus {
padding-top:0px;
}
/* lalita */
.zipForm .input{ margin: 0 auto;}
.banner-caption2 .zipForm .input { margin: auto auto 15px 0;}
.inputfield{ margin:0 auto 25px;}
body{ font-size:14px;}
}
@media (max-device-width: 640px) and (orientation: landscape) {
/*.banner-caption1{background-size:70% auto;background-position:top center;  }*/
.mbl-image img {
width:100%;
}
.banner-caption2 h3 {
font-size: 20px;
line-height: 20px;
}
.getstarted-btn {
font-size: 15px;
height: 34px;
line-height: 34px;
margin-top: 16px;
}
.logoDiv img {
max-width:180px;
}
.toprightDiv h3 {
font-size: 18px;
line-height: 12px;
}
.toprightDiv h3 span {
font-size: 14px;
line-height: 15px;
}
.getStarted {
padding: 25px 50px;
}
}
 @media screen and (max-width:500px) {
.getstarted-btn {
margin-top: 20px;
}
.toprightDiv {
text-align:center;
}
.logoDiv {
text-align:center;
}
.logoDiv img {
max-width:180px;
}
.logoDiv, .toprightDiv {
padding:7px 0;
}
.toprightDiv h3 {
font-size: 18px;
line-height: 12px;
}
.toprightDiv h3 span {
font-size: 14px;
line-height: 15px;
}
.banner-caption2 h3 {
font-size: 21px;
line-height: 31px;
}
.getstarted-btn {
font-size: 17px;
height: 38px;
line-height: 38px;
max-width: 300px;
margin-top: 0px;
}
.inputfield{max-width: 300px !important; }
.zipForm .input,.inputfield select,.inputfield .halfInput{height: 38px; float:none;margin-right:0; width:100% !important;line-height: 30px; margin-bottom:25px;}
.inputfield.clearfix{margin:0 auto;}
.getStarted {
min-height: 0;
}
.banner-caption1 {
bottom:135px;
}
.aboutContent, .rememberSection, .creditSection {
padding: 40px 10px;
}
.reasonSection {
padding: 45px 0px;
}
.loanSection {
padding: 45px 10px;
}
.footerItems {
padding:0;
}
 .copyrightArea {
padding: 20px 0;
}
/* lalita */
.chkboxWrap{ width:93%;}
.chkbox1{ width:5%;}
.zipForm .input, .inputfield select, .inputfield .halfInput{ line-height:20px;}
}
@media (max-device-width: 480px) and (orientation: landscape) {
/*.banner-caption1{   background-size: 67% auto;background-position:top center; top: 70px; }	*/
.getStarted {
padding: 15px 30px;
}
.getstarted-btn {
font-size: 14px;
height: 25px;
line-height: 25px;
margin-top: 7px;
max-width: 300px;
}
.banner-caption2 h3 {
font-size: 15px;
line-height: 17px;
}
.topSection {
height:auto !important;
}
.mbl-image img {
width: 100%;
}

}
@media screen and (max-width:426px) {
 .antivirusImages ul li {
width:45%;
}
 .antivirusImages ul li img {
width:100%;
}
}
@media screen and (max-width:400px) {
/*.header .col-xs-6 {width:100%;}*/
.header .col-xs-6 {width:50%;}
.logoDiv img { max-width: 100%;}
.logoDiv a { float: left; width: 100%;}
.header .col-xs-6:last-child{ padding-left:0;}
.toprightDiv > img { max-width: 23px; position: absolute; right: -3px; top: 8px;}
.logoDiv, .toprightDiv{ position:relative;}
.toprightDiv h3{ font-size:12px;}
.header { margin-bottom: 20px;}
.getStarted { padding: 30px;}
/*.zipForm .input, .inputfield select, .inputfield .halfInput{margin-bottom: 15px;}*/
.slidingLabel .errorname{ font-size:14px;}

#gtstart{ margin-top:0;}
}
@media (max-device-width: 340px) and (orientation: portrait) {
.getStarted {
padding:20px 30px 30px;
}
/*.banner-caption1{min-height: 205px;bottom: 165px;}	*/
	}
